body {
  display: grid;
  height: 100vh;
  margin: 0;
  place-items: center center;

  background-color: rgb(255, 248, 227);
  height: 100vh;
  font-family: 'Lora', serif;
  font-style: normal;
  font-weight: 400;
  font-size: calc(1vw + 1vh + 0.5vmin);
  line-height: 1.79;
}

[class*='__container'] {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1330px;
}

.siema {
  margin: 1rem 0;
  width: 100%;
  max-width: 100%;
  /* margin: 0 auto; */
}
img {
  display: block;
  margin: 0;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.button-wrapper {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  padding: 2.5rem;
}

button {
  width: 82px;
  height: 82px;
  border-radius: 25%;
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: -0.3125rem -0.3125rem 1.25rem #fff, 0.3125rem 0.3125rem 1.25rem #c2b7aa;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  color: #f7eff4;
  text-shadow: 0.0313rem 0.0313rem 0rem #c7b591, -0.0313rem -0.0313rem 0rem #ffffff;
}

button:hover {
  box-shadow: -0.0313rem -0.0313rem 0.125rem #fff, 0.0313rem 0.0313rem 0.125rem rgba(83, 8, 8, 0.8);
  text-shadow: -0.0313rem -0.0313rem 0rem #c7b591, 0.0313rem 0.0313rem 0rem #ffffff;
}

button:active {
  box-shadow: -0.0313rem -0.0313rem 0.125rem #fff, 0.0313rem 0.0313rem 0.125rem rgba(83, 8, 8, 0.8);
  text-shadow: -0.0313rem -0.0313rem 0rem #c7b591, 0.0313rem 0.0313rem 0rem #ffffff;
}

/* link */
.main-list-links {
  position: fixed;
  top: 1.25rem;
  left: 0.625rem;
  z-index: 10;

  list-style: none;
}

.main-item {
  margin-bottom: 3.125rem;
}

.main-link {
  margin-bottom: 1.25rem;
  text-decoration: none;

  max-width: 9.375rem;
  padding: 0.5rem 0.75rem;

  border: 0;
  outline: 0;
  border-radius: 20rem;

  background-color: transparent;
  text-shadow: 0.0313rem 0.0313rem 0 #fff;
  backdrop-filter: shadow(0.625rem);

  font-size: 0.875rem;
  font: inherit;
  font-weight: bold;

  color: #9fa8c7;
  box-shadow: -0.125rem -0.125rem 1.25rem #fff, 0.125rem 0.125rem 0.125rem #babecc;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.main-link:focus,
.main-link:hover {
  box-shadow: -0.125rem -0.125rem 0.3125rem #fff, 0.125rem 0.125rem 0.125rem #babecc;
  text-decoration: none;
  color: #61677c;
}

.main-link:active {
  box-shadow: inset 0.0625rem 0.0625rem 0.125rem #babecc, inset -0.0625rem -0.0625rem 0.125rem #fff;
  text-decoration: none;
  color: #61677c;
}
