/* button {
  display: block;
  margin: 10px auto;
  color: #ffffff;
  background-color: lime;
}

.test-2 {
  width: 200px;
  height: 200px;
  position: relative;
}

.red {
  padding: 5px;
  color: #ffffff;
  background-color: red;
} */

.btn-fate:hover {
  box-shadow: -2px -2px 5px #fff, 2px 2px 5px rgba(165, 10, 10, 0.8);
}

.btn-fate:active {
  top: 2px;
  box-shadow: -2px -2px 5px #fff, 2px 2px 5px rgba(165, 10, 10, 0.8);
}
